body {
  margin: 0;
  position: relative;
}
header {
  background-image: url('../img/image/Layer_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  opacity: 1.5;
  position: relative;
}
.to_top {
  border-radius: 25px;
  transition: all 0.3s linear;
  background: #19bd9a;
  bottom: 10px;
  color: #000;
  cursor: pointer;
  display: none;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  right: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 50px;
  font-weight: bold;
}
.MyButn:hover {
  background-color: #555;
}
.logo {
  min-width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
li {
  display: flex;
  justify-content: space-between;
  width: 71px;
  height: 17px;
}
li:hover {
  border: 1px solid white;
  border-radius: 20%;
}
li a {
  color: white;
  text-decoration: none;
}
.blockright li {
  display: flex;
  justify-content: space-around;
  justify-items: auto;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  width: 97%;
  padding: 30px;
  position: fixed;
}
ul {
  display: flex;
  text-decoration: none;
  justify-content: space-around;
}
h1,
h2 {
  font-family: 'Source Sans Pro', sans-serif;
}
h3,
p {
  font-family: 'Open Sans', sans-serif;
  width: 99%;
}
h1 {
  font-size: 35px;
  font-weight: 300;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 50px 0px 0px;
}
.title {
  margin: auto;
  text-align: center;
  color: white;
}
.title_desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin: 39px 450px ;
}
h2 {
  text-transform: uppercase;
  color: #333b46;
}
button.onFirstBlock {
  height: 50px;
  width: 50px;
  background-color: #19bd9a;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0px 0px 50px;
  border: none;
  cursor: pointer;
}
i {
  color: white;
  align-content: center;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  position: relative;
  background-color: rgba(206, 139, 94, 0.829);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: #19bd9a;
  color: white;
}
.modal-body {
  padding: 2px 16px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: #81868e;
  padding: 114px 260px 60px 265px;
}
.container .second {
  display: flex;
  flex-direction: column;
  width: 466px;
}
.container .second a.more {
  color: #333b46;
  background-color: white;
  border: 1px solid #333b46;
  border-radius: 35%;
  padding: 8px 15px;
  text-decoration: none;
}
.container .ipad {
  width: 200px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f3f3f3;
  height: 620px;
}
.about .about-bouncy {
  width: 450px;
}
.about h2,
.about .about-bouncy {
  text-align: center;
}
.about .items {
  display: flex;
}
.about .items a {
  text-decoration: none;
}
.about .items i {
  height: 50px;
  width: 50px;
  background-color: #81868e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 25px 12px 50px;
}
.about .items i:hover {
  background-color: #19bd9a;
}
.Creative {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #81868e;
  margin: 50px;
}
.Creative .left-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 313px;
  height: 227px;
}
.Creative .left-text h3.Creative {
  font-size: 20px;
}
.Creative .left-text p {
  font-size: 16px;
}
.Creative .right-text {
  text-align: left;
  width: 436px;
  height: 113px;
}
.Creative .right-text p {
  font-size: 14px;
}
.vero {
  color: #19bd9a;
  font-weight: 700;
}
.ducimus {
  font-weight: 700;
}
.featured {
  display: flex;
  flex-direction: column;
}
.featured_text {
  text-align: center;
}
.featured_img {
  width: 99%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.foot {
  width: 100%;
}
.footer_img {
  background-image: url('../img/image/Layer_85.png');
  background-color: #19bd9a;
  opacity: 100%;
  height: 100px;
}
.footer_img .fetured_footer {
  display: flex;
  margin: auto;
  align-items: center;
  color: white;
  width: 800px;
  padding-top: 20px;
}
.footer_img .fetured_footer a {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 35%;
  color: white;
  width: 120px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
}
.services {
  display: flex;
  flex-direction: column;
}
.titles {
  text-align: center;
}
.itemses {
  display: flex;
  justify-content: baseline;
  margin-top: 40px;
  width: 70%;
  margin-left: 10%;
  margin-right: 15%;
}
.left_column {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.left_column a {
  text-decoration: none;
  margin-bottom: -50px;
  margin-left: 100px;
  margin-right: 30px;
  margin-top: 0px;
}
.left_column i {
  height: 50px;
  width: 50px;
  background-color: #81868e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 25px 12px 50px;
}
.left_column i:hover {
  background-color: #19bd9a;
}
.center_column {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.right_column {
  display: flex;
  justify-content: center;
  width: 500px;
  margin-top: 130px;
}
.eighty span {
  font-size: 25px;
  border: 3px solid black;
  border-radius: 100%;
  padding: 30px;
  align-items: center;
}
.seventy span {
  font-size: 25px;
  border: 3px solid black;
  border-radius: 100%;
  padding: 30px;
  align-items: center;
}
.sixty span {
  font-size: 25px;
  border: 3px solid black;
  border-radius: 100%;
  padding: 30px;
  align-items: center;
}
